<div class='contaier'>
    <div class='row'>
        <div class='col-md-6 item-new-wrapper'>

            <h4>商品新規登録</h4>

            <%= form_with model:@item,url: admin_items_path,local: true do |f| %>
                
                <div>
                    <%= f.file_field :image,accept: "image/*" %>
                </div> 

                <br />

                <div>
                    商品名<%= f.text_field :name,placeholder:'商品名' %>
                </div>

                <br />

                <div>
                    商品説明<%= f.text_area :introduction,placeholder:'ここに説明文を追加します' %>
                </div>

                <br />

                <div>
                    ジャンル
                    <% @genres.each do |genre| %>
                        <%= f.select :genre_id, [genre,genre], {include_blank: "選択して下さい"} %>
                    <% end %>
                </div>

                <br />

                <div>
                    税抜価格<%= f.text_field :notax_price,placeholder:'1000' %>円
                </div>

                <br />

                <div>
                    販売ステータス
                    <%= f.radio_button :is_sale, true %>販売中
                    <%= f.radio_button :is_sale, false %>販売停止中
                </div>

                <br />

                <% if @item.errors.any? %>
                    <div class="error">
                        <% @item.errors.full_messages.each do |message| %>
                            <%= message %><br />
                        <% end %>
                    </div>
                <% end %>

                <br />

                <%= f.submit '新規登録',class:'btn btn-success' %>
            <% end %>

        </div>
    </div>
</div>